* {
	margin: 0;
	padding: 0;
}
header {
	height: 200px;
	background-color: limegreen;
	color: greenyellow;
}
header div {
	padding-top: 60px;
	text-align: center;
}
header div h2 {
	padding-top: 5px;
}
.menu {
	height: 50px;
	background-color: black;
	color: white;
	font-size: 15px;
	padding-top: 10px;
	display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: row;
}
.menu div {
	display: inline-flex;
}
.Buttons_Menu {
	margin: auto 20px auto 20px;
}
.Buttons_Menu a {
	text-decoration: none;
	color: white;
	transition: 0.5s;
}
.Buttons_Menu a:hover {
	color: red;
}
input[type="text"],input[type="password"] {
	height: 25px;
	border-style: none;
	border-radius: 5px;
}
input[type="submit"] {
	width: 70px;
	height: 30px;
}
main {
	margin-top: 30px;
}
.Name1 h1,.Name1 h2{
	display: blinline-blockock;
}
.Name1 {
	display: inline-block;
}